# Created by .ignore support plugin (hsz.mobi)

/resources/public/js/compiled
/resources/public/css/compiled
target
node_modules

.idea
*.iml
.lein-repl-history
.nrepl-port
*.log
/resources/unversioned
dist/
